In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('PPR-2010-2023.csv')

/var/folders/55/j0v2zlbn1575rkmztsycxlfw0000gn/T/ipykernel_33542/2935668250.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('PPR-2010-2023.csv')

In [3]:
dataset[50000:60000].head(3)

,Date of Sale (dd/mm/yyyy),Address,County,Eircode,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
50000,13/07/2012,"Fairfiled House, 3A Rathgar Avenue, Rathgar",Dublin,NaN,"925,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
50001,13/07/2012,"Film House, Swan Centre, Rathmines",Dublin,NaN,"58,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
50002,13/07/2012,"glencar, letterkenny",Donegal,NaN,"80,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN

In [4]:
dataset['Property Size Description'].unique()

array([nan,
       'greater than or equal to 38 sq metres and less than 125 sq metres',
       'greater than 125 sq metres', 'less than 38 sq metres',
       'greater than or equal to 125 sq metres',
       'níos mó ná nó cothrom le 38 méadar cearnach agus níos lú ná 125 méadar cearnach',
       'n?os l? n? 38 m?adar cearnach'], dtype=object)

In [5]:
dataset[dataset['Eircode'].notna()]

,Date of Sale (dd/mm/yyyy),Address,County,Eircode,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
73089,24/05/2013,"70 CHARLESTOWN PARK, ST MARGARETS RD, DUBLIN 11",Dublin,D11TX45,"216,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
74788,17/06/2013,"CASTLENUGENT, LISRYAN, CO. LONGFORD",Longford,N39TP27,"35,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
75132,21/06/2013,"15 ROWAN TERRACE, NEWBRIDGE, KILDARE",Kildare,W12FX56,"120,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
75941,28/06/2013,"MONEEN, WILLIAMSTOWN, CO GALWAY",Galway,F45CX85,"13,750.00",Yes,No,Second-Hand Dwelling house /Apartment,NaN
84319,03/10/2013,"55 HARRISONS PLACE, CHALEVILLE, CORK",Cork,P56PN22,"30,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
...,...,...,...,...,...,...,...,...,...
589017,16/03/2023,"CRAGBEG, CLARINA, LIMERICK",Limerick,V94NFT9,"76,000.00",Yes,No,Second-Hand Dwelling house /Apartment,NaN
589019,16/03/2023,"NO 1 PRIORY HALL, BALLAGHADERREEN, CO ROSCOMMON",Roscommon,F45Y029,"135,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
589020,16/03/2023,"RAMPARK, JENKINSTOWN, DUNDALK",Louth,A91CD86,"305,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
589021,16/03/2023,"ROSSNAPARTEN, LOW ROAD SHROOVE, GREENCASTLE",Donegal,F93NVW5,"430,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
589023,16/03/2023,"TOSCANA, BALDWINSTOWN, WEXFORD",Wexford,Y35HH92,"325,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN

In [6]:
dataset['Description of Property'].unique()

array(['Second-Hand Dwelling house /Apartment',
       'New Dwelling house /Apartment', 'Teach/Árasán Cónaithe Atháimhe',
       'Teach/Árasán Cónaithe Nua', 'Teach/?ras?n C?naithe Nua'],
      dtype=object)

In [7]:
county = dataset['County'].unique()
county

array(['Dublin', 'Laois', 'Meath', 'Kilkenny', 'Limerick', 'Carlow',
       'Cork', 'Clare', 'Sligo', 'Cavan', 'Tipperary', 'Wicklow',
       'Roscommon', 'Wexford', 'Mayo', 'Donegal', 'Longford', 'Galway',
       'Offaly', 'Kildare', 'Waterford', 'Louth', 'Kerry', 'Westmeath',
       'Monaghan', 'Leitrim'], dtype=object)