In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import plotly.express as px

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("PPR-ALL.csv", encoding='unicode_escape')

/var/folders/55/j0v2zlbn1575rkmztsycxlfw0000gn/T/ipykernel_26518/96290156.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("PPR-ALL.csv", encoding='unicode_escape')

In [6]:
df.rename(columns = {"Date of Sale (dd/mm/yyyy)":"Date"},inplace=True)

In [8]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True, format='mixed')

/var/folders/55/j0v2zlbn1575rkmztsycxlfw0000gn/T/ipykernel_26518/1846559339.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True, format='mixed')

In [9]:
df.head()

,Date,Address,County,Eircode,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",Dublin,NaN,"343,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
1,2010-03-01,"134 Ashewood Walk, Summerhill Lane, Portlaoise",Laois,NaN,"185,000.00",No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,2010-04-01,"1 Meadow Avenue, Dundrum, Dublin 14",Dublin,NaN,"438,500.00",No,No,Second-Hand Dwelling house /Apartment,NaN
3,2010-04-01,"1 The Haven, Mornington",Meath,NaN,"400,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
4,2010-04-01,"11 Melville Heights, Kilkenny",Kilkenny,NaN,"160,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN

In [10]:
# Removing the Euro symbol from the Price column

def clean_price(string):
    string = string.replace(",","")
    return float(string[1:])
Price = df['Price ()'].apply(clean_price)

df = df.drop('Price ()',axis=1)

df['Price'] = Price

In [11]:
replacement_dict = {
    'Second-Hand Dwelling house /Apartment':'Second-Hand',
    'New Dwelling house /Apartment':'New',
    'Teach/Árasán Cónaithe Atháimhe':'Second-Hand',
    'Teach/Árasán Cónaithe Nua':'New',
    'Teach/?ras?n C?naithe Nua':'New'
}

df['Description of Property'] = df['Description of Property'].replace(replacement_dict)

In [12]:
df.head()

,Date,Address,County,Eircode,Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,Price
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",Dublin,NaN,No,No,Second-Hand,NaN,343000.0
1,2010-03-01,"134 Ashewood Walk, Summerhill Lane, Portlaoise",Laois,NaN,No,Yes,New,greater than or equal to 38 sq metres and less...,185000.0
2,2010-04-01,"1 Meadow Avenue, Dundrum, Dublin 14",Dublin,NaN,No,No,Second-Hand,NaN,438500.0
3,2010-04-01,"1 The Haven, Mornington",Meath,NaN,No,No,Second-Hand,NaN,400000.0
4,2010-04-01,"11 Melville Heights, Kilkenny",Kilkenny,NaN,No,No,Second-Hand,NaN,160000.0